net "clk1" loc=T16;
net "clk1" IOSTANDARD = lvcmos33;
net "clk2" loc=R10;
net "clk2" IOSTANDARD = lvcmos33;
net "clk3" loc=F15;
net "clk3" IOSTANDARD = LVCMOS33;
net "clk4" loc=V10;
net "clk4" IOSTANDARD = LVCMOS33;
net "clk5" loc=E16;
net "clk5" IOSTANDARD = LVCMOS33;
net "adresa_card(0)" loc=U9;
net "adresa_card(0)" IOSTANDARD = LVCMOS33;
net "adresa_card(1)" loc=U8;
net "adresa_card(1)" IOSTANDARD = LVCMOS33;
net "adresa_card(2)" loc=R7;
net "adresa_card(2)" IOSTANDARD = LVCMOS33;
net "op(0)" loc=R5;
net "op(0)" IOSTANDARD = LVCMOS33;
net "op(1)" loc=V7;
net "op(1)" IOSTANDARD = LVCMOS33;
net "bancnota_introdusa(0)" loc=V6;
net "bancnota_introdusa(0)" IOSTANDARD = LVCMOS33;
net "bancnota_introdusa(1)" loc=V5;
net "bancnota_introdusa(1)" IOSTANDARD = LVCMOS33;
net "bancnota_introdusa(2)" loc=U4;
net "bancnota_introdusa(2)" IOSTANDARD = LVCMOS33;
net "bancnota_introdusa(3)" loc=V2;
net "bancnota_introdusa(3)" IOSTANDARD = LVCMOS33;
net "bancnota_introdusa(4)" loc=U2;
net "bancnota_introdusa(4)" IOSTANDARD = LVCMOS33;
net "bancnota_introdusa(5)" loc=T3;
net "bancnota_introdusa(5)" IOSTANDARD = LVCMOS33;
net "bancnota_introdusa(6)" loc=T1;
net "bancnota_introdusa(6)" IOSTANDARD = LVCMOS33;
net "bancnota_introdusa(7)" loc=R3;
net "bancnota_introdusa(7)" IOSTANDARD = LVCMOS33;
net "bancnota_introdusa(8)" loc=P3;
net "bancnota_introdusa(8)" IOSTANDARD = LVCMOS33;
net "catod(6)" loc=L3;
net "catod(6)" IOSTANDARD =LVCMOS33;
net "catod(5)" loc=N1;
net "catod(5)" IOSTANDARD = LVCMOS33; 
net "catod(4)" loc=L5;
net "catod(4)" IOSTANDARD = LVCMOS33;
net "catod(3)" loc=L4;
net "catod(3)" IOSTANDARD = LVCMOS33;
net "catod(2)" loc=K3;
net "catod(2)" IOSTANDARD = LVCMOS33;
net "catod(1)" loc=M2;
net "catod(1)" IOSTANDARD = LVCMOS33; 
net "catod(0)" loc=L6;
net "catod(0)" IOSTANDARD = LVCMOS33;
net "anod(3)" loc=M1;
net "anod(3)" IOSTANDARD = LVCMOS33; 
net "anod(2)" loc=L1;
net "anod(2)" IOSTANDARD = LVCMOS33; 
net "anod(1)" loc=N4;
net "anod(1)" IOSTANDARD = LVCMOS33;
net "anod(0)" loc=N2;
net "anod(0)" IOSTANDARD = LVCMOS33;
net "eliberare_card" loc=T8;
net "eliberare_card" IOSTANDARD = LVCMOS33;
net "eliberare_chitanta" loc=V9;
net "eliberare_chitanta" IOSTANDARD = LVCMOS33;
net "eliberare_numerar" loc=R8;
net "eliberare_numerar" IOSTANDARD = LVCMOS33;
net "clk" loc=E3;
net "clk" IOSTANDARD = LVCMOS33; 

net "clk1" clock_dedicated_route = false;
net "clk2" clock_dedicated_route = false;
net "clk3" clock_dedicated_route = false;
net "clk4" clock_dedicated_route = false;
net "clk5" clock_dedicated_route = false;
net "clk" clock_dedicated_route = false;